.projects {
    padding: 0 15%;
}

.projects__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 100px;
}

.popup__paragraph {
    margin: 0;
    margin-bottom: 15px;
}

.popup__paragraph__link {
    color: #73808d;
    transition: color .3s;
}

.popup__paragraph__link:hover {
    color: #92B4EC;
}

@media screen and (max-width: 1450px) {
    .projects {
        padding: 0 10%;
    }
}

@media screen and (max-width: 1100px) {
    .projects {
        padding: 0 5%;
    }
}

@media screen and (max-width: 850px) {
    .projects__main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-bottom: 100px;
        margin-bottom: 50px;
    }
}