.project {
    cursor: pointer;
}

.project__imageBg {
    background-color: #d6f3f3;
    box-sizing: border-box;
    border-radius: 7px;
    aspect-ratio: 680 / 410;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    transition: background-color .3s;
}

.project__imageBg img {
    max-height: 100%;
    max-width: 100%;
    height: 95%;
    width: auto;
    transition: height .5s;
}

.project:hover .project__imageBg {
    background-color: #d6f3e8;
}

.project:hover .project__imageBg img {
    height: 100%;
    width: auto;
}

.title {
    margin-top: 10px;
    margin-bottom: 0;
}

.subtitle {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

.gray {
    color: #73808d;
}

@media screen and (max-width: 1200px) {
    .project__imageBg {
        padding: 15px;
    }
}