.pink {
    color: #E65F78;
}

.hidden {
    display: none;
}

h1, h2, .hero__container__text__conditional {
    color: white;
    margin: 0;
}

h1 {
    margin-bottom: 5px;
}

.material-symbols-outlined {
    color: white;
    position: absolute;
    top: 85%;
}

.hero {
    background: #1F1F1F;
    min-height: 89.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#hero__container__avatar {
    height: 200px;
    border-radius: 100%;
}